body {
    margin: 0;
    padding: 0;
}
img {
    width: 400px;
}

header {
    background-color: gray;
}

nav ul li {
    list-style: none;
    padding: 15px;
}

header ul {
    display: flex;
    margin: 0;
    padding: 0;   
}

nav a {
    text-decoration: none;
    color: white;
}

.menu-btn:hover {
    background-color: darkgray;
    letter-spacing: 4px;
    transition: all 0.4s ease-in;
}

img:hover {
    width: 400px;
    height: 260px;
    transform: scale(1.2);
    transition: transform 1s;    
}

#profile {
    width: 400px;
    height: 260px;
    overflow: hidden;
}

main {
    padding: 32px;
}

main h1 {
    font-size: 40px;
}

#detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer {
    background-color: lightgrey;
    padding: 40px;
}

footer p {
    margin: 0;
}

@media (max-width: 768px) {
    main {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
}